<ul class="global-popup-links">
  <li class="patient-profile-popup {{globalPopup.disabled}}"><a href="#" class="popup-trigger info-popup {{globalPopup.disabled}}" data-popup="{{globalPopup.patientProfileData}}" {{globalPopup.disabled}}>{{globalPopup.patientProfileText}}</a></li>
  <li><a href="#" class="popup-trigger info-popup" data-popup="luxturna-popup-isi">SAFETY</a></li>
  <li><a href="#" class="popup-trigger info-popup" data-popup="luxturna-popup-uspi">USPI</a></li>
  <li><a href="#" class="popup-trigger info-popup" data-popup="{{globalPopup.refData}}">REFERENCES</a></li>
</ul>