<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>veeva-slide</title>

	<!-- build:css ../shared/styles/main.css -->
	<!-- inject:css -->
	<!-- endinject -->
   <link rel="stylesheet" href="../shared/styles/main.css">
   <!-- endbuild -->
   <!-- build:css assets/styles/slide.css -->
   <link rel="stylesheet" href="./assets/styles/slide.css" />
   <!-- endbuild -->
</head>

<body>
<main id="{{slideId}}" class="slide">

   <!-- Page Body -->

   <section class="global-content">
      <div class="wrapper">
         <!-- Components here -->
         <div class="content">
            <!-- Slide Content -->
            <ul class="slide__ctas">
            {{#each ctas}}
               {{#if (checkExternalLink this.link)}}
               <li id="cta-{{@index}}" class="slide__cta"><a href="{{this.link}}" target="_blank"></a></li>
               {{else}}
               <li id="cta-{{@index}}" class="slide__cta"><a class="goToSlide" data-slide="{{this.link}}"></a></li>
               {{/if}}
            {{/each}}
            </ul>
         </div>
      </div>
      <!-- Pop Ups here-->
   </section>

</main>
</body>

<!-- build:js ../shared/scripts/main.js -->
<!-- inject:js -->
<!-- endinject -->
<script src="../shared/scripts/fastclick.js"></script>
<script src="../shared/scripts/jquery.js"></script>
<script src="../shared/scripts/hammer.min.js"></script>
<script src="../shared/scripts/main.js"></script>
<!-- endbuild -->

<!-- build:js assets/scripts/slide.js -->
<script src="./assets/scripts/slide.js"></script>
<!-- endbuild -->

</html>
